@model PatientManagementSystem.Models.PatientOrder

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-header text-center"><h2 style="color:cornflowerblue">Update Patient Order</h2></div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset class="text-center">
    <!--<legend>PatientOrder</legend>-->
    <div class="form-group">
        @Html.HiddenFor(model => model.PatientOrderId)
    </div>

    <div class="form-group">
        <div class="editor-label">
            @Html.LabelFor(model => model.CreationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreationDate)
            @Html.ValidationMessageFor(model => model.CreationDate)
        </div>
    </div>

    <div class="form-group">
        <div class="editor-label">
            @Html.LabelFor(model => model.PatientId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PatientId)
            @Html.ValidationMessageFor(model => model.PatientId)
        </div>
    </div>

    <div class="form-group">
        <div class="editor-label">
            @Html.LabelFor(model => model.OrderCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderCode)
            @Html.ValidationMessageFor(model => model.OrderCode)
        </div>
    </div>

    <div class="form-group">
        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Status", new List<SelectListItem> {
            new SelectListItem{Text="Requested",Value="Requested"},
            new SelectListItem{Text="Performed",Value="Performed"},
            new SelectListItem{Text="Reviewed",Value="Reviewed"},
            new SelectListItem{Text="Accepted",Value="Accepted"},
            new SelectListItem{Text="Rejected",Value="Rejected"}
       }, "Select Status")
            @Html.ValidationMessageFor(model => model.Status)
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" />&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Back", "Index")
    </div>
</fieldset>
}





